#calculator-container {
    position: relative;
    width: 500px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 200px;
    margin-left: 350px;
    background-image:url("../img/galaxy.jpg");
}

input[type=button] {
    background: lightGray;
    width: 20%;
    font-size: 40px;
    font-weight: 900;
    margin: 2%;
    border-radius: 10px;
}

input[type=text] {
    position: relative;
    display: block;
    width: 90%;
    margin: 5px auto;
    font-size: 60px;
    border: 2px solid black;


}

#dblbutton {
    width: 45%;
    padding: 1px;


}
.button:hover {
    background: #E0B612;
    transform: rotate(5deg);
}




